.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
   width: 82.75%;
    overflow: auto;
    margin-left: 203px;
    margin-top: 40px;
  }
  
  .isbn-col {
    flex: 0 0 100px !important;
    white-space: unset !important;
  }
  
  .button-row {
    margin-left: 203px;
    margin-top: 40px;
  }
  .img{
      margin-top:10px;
      margin-bottom: 30px;
      height:80px;
  }
  
  
  