.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    overflow: auto;
  }
  
  .isbn-col {
    flex: 0 0 100px !important;
    white-space: unset !important;
  }
  
  .button-row {
    margin: 10px 0;
  }
  .img{
      margin-top:10px;
      margin-bottom: 30px;
      height:80px;
  }
  
  
  