<div class="cat">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a *ngFor="let c of data2" mat-raised-button color="primary" [routerLink]="['/products/category/', c.title]" style="padding-left:10px;"> 
     {{c.title}} 
</a>
</div>
<!-- <div class="cat"> -->
  <!-- background-color: wheat; -->
 <!-- <div class="list-group" >
    <a *ngFor="let c of data2"
    [routerLink]="['/products/category/', c.title]"
  class="list-group-item list-group-item-action" style="background-color: antiquewhite; color:#222; font-size: 19px;">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{c.title}}
    </a>
  </div>
</div> -->


<!-- products view -->
            <div class="flex-container">
         <ng-container *ngFor="let product of data let i = index">

             <div>
                <div class="card">
                    <img class="card-img-top" src = "/assets/public/product_images/{{product.id}}/{{product.images}}">
                <div class="card-body">
                    <h5 class="card-title">{{product.title}}</h5>
                    <p class="card-text">{{product.price |  currency:"GBP":""}}</p>
                 </div>
                  <div class="card-footer" style="background-color: wheat;">
                      <button  class="btn btn-primary btn-block" style="background-color: wheat;" ><a href="http://localhost:3000/products/{{product.category}}/{{product.slug}}" style=" text-decoration: none;"><i class="material-icons" style="margin-bottom: -16px;">
                        shopping_cart
                        </i>&nbsp;&nbsp;Add to Cart</a></button>
                </div>
         </div>
         </div>

        </ng-container>
      </div>  
