.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    width: 70%;
    overflow: auto;
    margin-left: 220px;
    
  }
  
  .isbn-col {
    flex: 0 0 100px !important;
    white-space: unset !important;
  }
  
  .button-row {
    margin-left: 220px;
    margin-top:40px;
  }
  
  
  