<div class="button-row">
  <a mat-raised-button color="primary" (click)="PageDetails()"><mat-icon>show</mat-icon></a>
</div>
<form [formGroup]="pageForm" (ngSubmit)="onFormSubmit(pageForm.value)">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="title" formControlName="title"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!pageForm.get('title').valid && pageForm.get('title').touched">Please enter Page Title</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="slug" formControlName="slug"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!pageForm.get('slug').valid && pageForm.get('slug').touched">Please enter Page Slug</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="content" formControlName="content"
           [errorStateMatcher]="matcher"></textarea>
    <mat-error>
      <span *ngIf="!pageForm.get('content').valid && pageForm.get('content').touched">Please enter Page Content</span>
    </mat-error>
  </mat-form-field>

  <div class="button-row">
    <button type="submit" [disabled]="!pageForm.valid" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form>