.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  .example-form {
 
    /* margin-left: 20px; */
    
    width: 80%;
  }
  
  .example-full-width {
    width: 80%;
    /* margin-left: 220px; */
  margin-top: 30px;

  
  }
.form{
  margin-left: 100px;
  /* margin-top: 30px; */
}
  
  .example-full-width:nth-last-child() {
    margin-bottom: 10px;
  }
  .from{background-color: rgba(255, 128, 191, 0.1);
    margin-top:34px;
  }
  .material-icons.md-48 { font-size: 48px; }