

<div class="from">

  <h1 style="font-size: 35px; padding-left: 100px; padding-top: 47px; "><b><i class="material-icons md-48">
      add_shopping_cart
      </i>&nbsp;&nbsp;&nbsp; GafferCart</b></h1><br>
      <span style="color:red; margin-left: 180px;">**if not a User then <a [routerLink]="['/register']" style="text-decoration: none; color:royalblue;">SignUp</a> </span>
  
<form class="form" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter Username"  formControlName="username"
           [errorStateMatcher]="matcher" type="text">
    <mat-error>
      <span *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">Please enter Username</span>
      <br>
      <br>
      <span *ngIf="loginForm.get('username').hasError('minlength')">Username should be atleast 14 characters</span>
      
    </mat-error>
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter Password" formControlName="password" 
           [errorStateMatcher]="matcher" type="password">
    <mat-error>
      <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Please enter Password</span>
      <br>
      <br>
      <span *ngIf="loginForm.get('password').hasError('minlength')">Password should be atleast 8 characters</span>  
    </mat-error>
  </mat-form-field>


<br>
<br>
  <div class="button-row">
    <button type="submit" [disabled]="!loginForm.valid" mat-raised-button color="primary" ><i class="material-icons" style="margin-left:4px;">
        lock_open
        </i>&nbsp;&nbsp;Login</button>
  </div>  
</form>
</div>