<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/admin/pages']"><mat-icon>list</mat-icon></a>
</div>
<form class="form" [formGroup]="categoryForm" (ngSubmit)="onFormSubmit(categoryForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Title" formControlName="title"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!categoryForm.get('title').valid && categoryForm.get('title').touched">Please enter Title</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Slug" formControlName="slug"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span>Please enter Slug</span>
    </mat-error>
  </mat-form-field>
  
  <div class="button-row">
    <button type="submit" [disabled]="!categoryForm.valid" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form>